/*@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');*/

body {
  margin: 0;
  /*font-family: 'Quicksand', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('https://www.getpapercss.com/img/geometry2.png')
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
